/* Scrapped Code For Dynamic Links
a:link, a:visited {
    background-color: #66b3ff;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-color: #66b3ff;
    border-radius: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-duration: 0.4s;
}

a:hover, a:active {
    background-color: rgba(0, 0, 0, .0);
    border-style: solid;
    border-color: #66b3ff;
    border-radius: 12px;
    
}
*/

h1 {
    /* Header formatting */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
}

body {
    /* Creates formatting for all text in the page */
    background-color: black;
}

p {
    /* Creates formatting for all text in the paragraph */
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.fixed_element {
    /* (Currently unused) Changes element position to top-right */
    position: fixed;
    top: 10px;
    right: 10px;
}

.fade-in-text {
    /* (Currently unused) Makes element colour solid */
    opacity: 100%;
}

.fade-in-text:hover {
    /* (Currently unused) Hover transition effect for transparent element */
    opacity: 0%;
    transition: opacity 1s;
}

a {
    /* How long should link hover effects last? */
    transition-duration: 0.4s;
}

ul {
    /* Code for nav bar setup */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    /* Code for nav bar content */
    float: left;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

li a {
    /* Code for nav bar text */
    display: block;
    padding: 10px 16px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.active {
    /* Active class used in HTML link creation for nav bar */
    background-color: black;
    color: white;
}

li:first-child {
    /* Adds left-most border to nav bar */
    border-left: 1px solid white;
}

a:hover, a:active {
    /* Adds hover response to links */
    background-color: black;
    color: white;
}