h1 {
    /* Header formatting */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
}

p {
    /* Creates formatting for all text in the paragraph */
    font-family: 'Courier New', Courier, monospace;
    color: white;
}