body {
  /* Creates formatting for all text in the page */
  text-align: center;
  font-family: "Comic Sans MS", Papyrus, cursive;
}

h1 {
  /* Header formatting */
  color: white;
  text-align: center;
  font-family: "Comic Sans MS", Papyrus, cursive;
}