ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
li.nav {
    float: left;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}
li a.nav {
    display: block;
    padding: 10px 16px;
    background-color: white;
    color: black;
    text-decoration: none;
}
li a.active {
    background-color: black;
    color: white;
}
li.nav:first-child {
    border-left: 1px solid white;
}
a.nav:hover, a.nav:active {
    background-color: black;
    color: white;
}
a.nav {
    transition-duration: 0.4s;
}
a.nav_active {
    transition-duration: 0.4s;
}
body {
    background-color: black;
    color: white;
}
a.nav_active {
    background-color: black;
    color: white;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
}