body {
    background-color: lightblue;
    margin: 25px;
    font-family: "Comic Sans MS", Papyrus, cursive;
  }
  
  h1 {
    color: navy;
    text-align: center;
    font-family: "Comic Sans MS", Papyrus, cursive;
  }
